<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.xiehua.study.mybatis.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="com.xiehua.study.mybatis.entity.Book">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="score" column="score" typeHandler="com.xiehua.study.mybatis.typehandler.MyTypeHandler"/>
        <result property="scoreCount" column="score_count"/>
        <result property="context" column="context"/>
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT id, name, score, score_count, context FROM book LIMIT #{offset}, #{pageSize}
    </select>

</mapper>

